<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% if cart_items %}
    <h1>我的购物车</h1>
    <p>已选菜品如下：</p>
        <table class="table">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>数量</th>
                    <th>桌号</th>
                    <th>价格</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td>{{ item.menu_item.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.table_number }}</td>
                    <td>${{ item.total_price }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">
                        <strong>总共:</strong>
                    </td>
                    <td>
                        <strong>${{ total_price }}</strong>
                    </td>
                </tr>
            </tfoot>
        </table>
        <form action="{% url 'carts:cart' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="table">桌号:</label>
                {{ form.table_number }}
                <p class="help-block text-danger">{{ form.table_number.errors }}</p>
            </div>
            <button type="submit" class="btn btn-lg btn-primary">提交订单</button>
        </form>
    {% else %}
    <p>您的购物车是空的。</p>
    {% endif %}
    <a href="{% url 'menus:list' %}" class="btn btn-secondary">继续点餐</a>
</div>
{% endblock %}


</body>
</html>