<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cart</title>
    {% extends 'base.html' %}
</head>
<body>
{% block content %}
    <h2>我的购物车</h2>
    <hr>
    {% if cart_items %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>数量</th>
                    <th>餐桌号</th>
                    <th>价格</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td>{{ item.menu_item.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.table_number }}</td>
                    <td>${{ item.total_price }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">
                        <strong>总共:</strong>
                    </td>
                    <td>
                        <strong>${{ total_price }}</strong>
                    </td>
                </tr>
            </tfoot>
        </table>
    {% else %}
        <p>您的购物车是空的。</p>
    {% endif %}

    <a href="{% url 'menus:list' %}" class="btn btn-secondary">继续浏览菜单</a>
    <a href="#" class="btn btn-secondary">提交订单</a>
{% endblock content %}



</body>
</html>