<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-xl-3 col-md-5 mb-3">
    <div class="card spur-card shadow">
                  <a href="https://xsinger.me/zahuo/1454.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="写于2020年11月11号">
        <img class="card-img-top" src="https://xsinger.me/usr/uploads/2020/11/3237738364.jpg">
      </a>

      <div class="card-body">
        <a href="https://xsinger.me/zahuo/1454.html"><h5 class="card-title">买了把 Akko 3098 DS 机械键盘</h5></a>
        <p class="card-text">我目前有 108、104、87、84、78 这几种配列的机...</p>
      </div>
    </div>
  </div>


  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card spur-card shadow">
                  <a href="https://xsinger.me/zahuo/1242.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="写于2020年4月6号">
        <img class="card-img-top" src="https://xsinger.me/usr/uploads/2020/04/360113488.jpg">
      </a>

      <div class="card-body">
        <a href="https://xsinger.me/zahuo/1242.html"><h5 class="card-title">买了华为 MA5671 和网件的 GS308</h5></a>
        <p class="card-text">华为 MA5671 千兆光猫这个光猫其实心仪已久，买回来之...</p>
      </div>
    </div>
  </div>


  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card spur-card shadow">
                  <a href="https://xsinger.me/zahuo/1093.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="写于2019年10月26号">
        <img class="card-img-top" src="https://xsinger.me/usr/uploads/2019/10/296209779.jpg">
      </a>

      <div class="card-body">
        <a href="https://xsinger.me/zahuo/1093.html"><h5 class="card-title">买了台 OnePlus 7T</h5></a>
        <p class="card-text">我的 iPhone 7 也用了几年了，目前最大的问题就是续...</p>
      </div>
    </div>
  </div>


  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card spur-card shadow">
                  <a href="https://xsinger.me/zahuo/837.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="写于2019年3月3号">
        <img class="card-img-top" src="https://xsinger.me/usr/uploads/2019/03/2482618281.jpg">
      </a>

      <div class="card-body">
        <a href="https://xsinger.me/zahuo/837.html"><h5 class="card-title">购入海贝 R3 和修复 iPod</h5></a>
        <p class="card-text">购入海贝 R3 由于一直用海贝音乐这款 APP，也是最近才知...</p>
      </div>
    </div>
  </div>


  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card spur-card shadow">
                  <a href="https://xsinger.me/zahuo/730.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="写于2018年11月22号">
        <img class="card-img-top" src="https://xsinger.me/usr/uploads/2018/11/869845988.jpg">
      </a>

      <div class="card-body">
        <a href="https://xsinger.me/zahuo/730.html"><h5 class="card-title">购入 Kindle Paperwhite 4</h5></a>
        <p class="card-text">双 11 之后，我才知道亚马逊在 2018 年 10 月 17 日发布...</p>
      </div>
    </div>
  </div>


  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card spur-card shadow">
                  <a href="https://xsinger.me/zahuo/692.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="写于2018年11月4号">
        <img class="card-img-top" src="https://xsinger.me/usr/uploads/2018/11/1809047145.jpg">
      </a>

      <div class="card-body">
        <a href="https://xsinger.me/zahuo/692.html"><h5 class="card-title">iPhone XS</h5></a>
        <p class="card-text">最近老婆想换手机，从 6S 升级到 iPhone XS，从 6...</p>
      </div>
    </div>
  </div>


  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card spur-card shadow">
                  <a href="https://xsinger.me/zahuo/416.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="写于2018年5月27号">
        <img class="card-img-top" src="https://xsinger.me/usr/uploads/2018/05/858671164.jpg">
      </a>

      <div class="card-body">
        <a href="https://xsinger.me/zahuo/416.html"><h5 class="card-title">买了台 iReader T6</h5></a>
        <p class="card-text">之前我一直在用 Kindle 558，也就是不带灯的那一...</p>
      </div>
    </div>
  </div>


  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card spur-card shadow">
                  <a href="https://xsinger.me/zahuo/378.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="写于2018年1月2号">
        <img class="card-img-top" src="https://xsinger.me/usr/uploads/2018/01/1219412777.jpg">
      </a>

      <div class="card-body">
        <a href="https://xsinger.me/zahuo/378.html"><h5 class="card-title">重拾</h5></a>
        <p class="card-text">有时候突然怀念以前的东西，不知道这是不是叫做情怀呢？好...</p>
      </div>
    </div>
  </div>


  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card spur-card shadow">
                  <a href="https://xsinger.me/zahuo/368.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="写于2017年11月20号">
        <img class="card-img-top" src="https://xsinger.me/usr/uploads/2018/08/820325939.jpg">
      </a>

      <div class="card-body">
        <a href="https://xsinger.me/zahuo/368.html"><h5 class="card-title">聊聊最近买的一些东西</h5></a>
        <p class="card-text">路由器双 11 热闹呀，老婆买了很多东西，有大人的也有小孩...</p>
      </div>
    </div>
  </div>


{% block content %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  {% for article in articles %}
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ article.title }}</h5>
        <p class="card-text">{{ article.excerpt }}</p>
        <p class="card-text">
          <small class="text-muted">作者：{{ article.author }}</small>
        </p>
        <a href="{{ article.get_absolute_url }}" class="btn btn-primary">阅读更多</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% if is_paginated %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}">上一页</a>
    </li>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <li class="page-item active" aria-current="page">
      <span class="page-link">{{ num }}</span>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link" href="?page={{ num }}">{{ num }}</a>
    </li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">下一页</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}

{% block content %}

     {# 山炮不仁样式 #}
     <main class="dash-content">
          <div class="container">

<div class="row">
    {% for article in articles %}
        <div class="col-xl-4 col-md-6 mb-4">
    <div class="card spur-card shadow">
                  <a href="https://xsinger.me/zahuo/1454.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="写于2020年11月11号">
        <img class="card-img-top" src="{{ article.image.url }}">
      </a>

      <div class="card-body">
        <a href="{{ article.remark }}"><h5 class="card-title">买了把 Akko 3098 DS 机械键盘</h5></a>
        <p class="card-text">我目前有 108、104、87、84、78 这几种配列的机...</p>
      </div>
    </div>
  </div>
    {% endfor %}




</div>

<nav>
  <ul class="pagination justify-content-center"><li class="active page-item"><a href="https://xsinger.me/category/zahuo/1/" class="page-link">1</a></li><li class="page-item"><a href="https://xsinger.me/category/zahuo/2/" class="page-link">2</a></li><li class="page-item"><a href="https://xsinger.me/category/zahuo/3/" class="page-link">3</a></li><li class="next page-item"><a href="https://xsinger.me/category/zahuo/2/" class="page-link">»</a></li></ul></nav>


</div>

</main>
{% endblock content %}
{# 文章详情 #}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">{{ object.title }}</h2>
    <p class="card-text">{{ object.body|safe }}</p>
  </div>
  <div class="card-footer">
    <small class="text-muted">作者：{{ object.author }}</small>
  </div>
</div>
<div class="b-example-divider"></div>

</body>
</html>