{% load static %}
<!-- Footer -->
<div>
    <br><br><br>
</div>
<footer class="bg-light text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">关于我们</h5>
        <p class="text-muted">毕业设计：在线餐馆系统</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">联系我们</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-muted"><i class="bi bi-geo-alt"></i> 餐厅地址</a>
          </li>
          <li>
            <a href="mailto:email@example.com" class="text-muted"><i class="bi bi-envelope-fill"></i> email@example.com</a>
          </li>
          <li>
            <a href="#!" class="text-muted"><i class="bi bi-telephone-fill"></i> +86 (020) 12345678</a>
           </li>
        </ul>
      </div>
     <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">关注我们</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-muted"><i class="bi bi-facebook"></i> Facebook</a>
          </li>
          <li>
            <a href="#!" class="text-muted"><i class="bi bi-instagram"></i> Instagram</a>
          </li>
         </ul>
      </div>
    </div>
   </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 版权所有：<a class="text-muted fw-bold" href="#">在线餐馆</a>
  </div>
</footer>
