<html>
<head>
  <title>Bootstrap5 实例</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'basic_css/header.css' %}">
  <style></style>
</head>
<body>



  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'home:home' %}" class="nav-link px-2 link-secondary">首页</a></li>
        <li><a href="{% url 'menus:list' %}" class="nav-link px-2 link-dark">菜单</a></li>
        <li><a href="{% url 'orders:pay'%}" class="nav-link px-2 link-dark">订单</a></li>
        <li><a href="{% url 'carts:cart' %}" class="nav-link px-2 link-dark">购物车</a></li>
        <li><a href="{% url 'users:user_center' %}" class="nav-link px-2 link-dark">个人中心</a></li>
      </ul>


      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2" ><a href="{% url 'users:login' %}">Login</a></button>
        <button type="button" class="btn btn-outline-primary me-2"><a href="{% url 'users:signup' %}">Sign up</a></button>
      </div>
    </header>
  </div>
   <div class="b-example-divider"></div>
</body>
</html>