<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% extends "base.html" %}
</head>
<body>


{% block content %}
    <div class="row justify-content-center mt-4">
        <div class="col-md-4">
            {% if form.errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <h2>重置密码</h2>
            <hr>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-primary">发送邮件重置密码</button>
            </form>

            <hr>
            <p><a href="{% url 'users:login' %}">返回登录页</a></p>
        </div>
    </div>
{% endblock %}


</body>
</html>