<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-center mt-4">
        <div class="col-md-4">
            <h2>设置新密码</h2>
            <hr>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-primary">确认</button>
            </form>

            <hr>
            <p><a href="{% url 'users:home' %}">返回首页</a></p>
        </div>
    </div>
{% endblock %}


</body>
</html>